@media all and (max-width:#{$grid-breakpoint-xxl}){

    html{
        font-size:11px;
    }

}


@media all and (max-width:#{$grid-breakpoint-xl}){

    html{
        font-size:11px;
    }

}


@media all and (max-width:#{$grid-breakpoint-l}){

    html{
        font-size:10px;


        #wrapper .main .timer .text i{
            display:none;
        }

        #wrapper .menu .list{
            padding:0;
        }

        #modal .window{
            border-top: 5rem solid #214b75;
            border-bottom: 5rem solid #214b75;
            border-left: 6rem solid #214b75;
            border-right: 6rem solid #214b75;
        }
        #modal .window .close{
            width: 6rem;
            height: 5rem;
        }
    }

}


@media all and (max-width:#{$grid-breakpoint-m}){

    html{
        font-size:10px;
    }

    #modal .window{
        
        border-top-width: 4.5rem ;
        border-bottom-width: 4.5rem ;
        border-left-width: 3rem ;
        border-right-width: 3rem ;
    }

    #modal .window .close{
        width:3rem;
        height:4.5rem;
        background-size:50% auto;
        left:99%;
    }

    #modal .window ul li{
        max-width:33%;
    }

    #wrapper .menu .list .item{
        letter-spacing:0;
    }

    #wrapper .menu .list .item .text{
        display:none;
    }

    #wrapper .social .item{
        width: 4.2rem;
        height: 4.2rem;
    }

    #wrapper .social .item img{
        width:100%
    }

    #wrapper .main .products .list{
        overflow:visible;
    }

    #wrapper .main .products .list .nav .button.prev{
        left: px-to-rem(10);
        padding:0;
        width: px-to-rem(50);
        height: px-to-rem(50);
        box-shadow: 0 0 px-to-rem(25) px-to-rem(25) rgba(0,0,0,.35);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrapper .main .products .list .nav .button.next{
        right: px-to-rem(10);
        padding:0;
        box-sizing:border-box;
        width: px-to-rem(50);
        height: px-to-rem(50);
        box-shadow: 0 0 px-to-rem(25) px-to-rem(25) rgba(0,0,0,.35);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrapper .main .products .list .nav .button.prev img{
        width: px-to-rem(12);
    }

    #wrapper .main .products .list .nav .button.next img{
        width: px-to-rem(12);
    }

    #wrapper .regulamento .container .show-more{
        width:px-to-pct(24,$product-list-ref-w);
    }

}


@media all and (max-width:#{$grid-breakpoint-s}){

    html{
        font-size:9px;
    }

    #modal .window p{
        font-size:px-to-rem(16);
        margin-bottom:0;
    }

    #modal .window{
        
        border-top-width: 2.5rem ;
        border-bottom-width: 2.5rem ;
        border-left-width: 1.25rem ;
        border-right-width: 1.25rem ;
    }

    #modal .window .close{
        width:1.25rem;
        height:2.5rem;
        background-size:70% auto;
        left:98.5%;
    }

    #wrapper{
        padding:0;
    }

    #wrapper .anchor{
        top:0;
    }

    #wrapper .menu{
        z-index:999999;
        left:100%;
        width:calc(100vw - 5rem);
        height:100vh;
        transition:$ease-time-2 $ease-out;
        border-top-left-radius: 30px;


        &:before{
            z-index:-2;
            content:'';
            opacity:0;
            transition:$ease-time-1 $ease-out;
        }
    }

    #wrapper .menu .list{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding:25vw 5rem 5rem !important;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        flex-direction:column;
        background:$color-pri-lighter;
        border-top-left-radius: 30px;
        
        
        &:before{
            content:'';
            position:absolute;
            top:9vw;
            left:50%;
            transform:translateX(-50%);
            @include responsive-bg('footer-logo-sustagen','png');
            width:60%;
            max-width:137px;
            height:0;
            padding-bottom:12.5%;
        }
    }

    #wrapper .menu .list .item{
        text-align:center;
        margin:px-to-rem(12);
        font-size:px-to-rem(20);
        letter-spacing:.04em;
        line-height:1.1;
    }

    #wrapper .anchor#produtos{
        top:-5rem;
    }

    #wrapper .menu .list .item a{
        font-weight:900;
    }

    #wrapper .menu .list .item a .text{
        display:inline;
        font-weight:900;
    }

    #wrapper .menu .list .responsive-menu{
        z-index:-1;
        position:absolute;
        top:5rem;
        right:100%;
        width:5rem;
        height:5rem;
        box-shadow:0 0 5rem 0 rgba(0,0,0,.4);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background:$color-pri-lighter;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        cursor:pointer;


        i{
            position:relative;
            background:$color-sec-dark;
            height:px-to-rem(4);
            width:60%;
            margin:px-to-rem(3) 0;
            transition:$ease-time-1 $ease-out $ease-time-1;
        }
    }

    #wrapper .menu.active{
        left:6rem;


        &:before{
            content:'';
            position:fixed;
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            background:black;
            opacity:.3;
        }

        .list .responsive-menu i{


            &:nth-child(1){
                transform:rotate(-45deg);
                top:1rem;
            }

            &:nth-child(2){
                width:0;
            }

            &:nth-child(3){
                transform:rotate(45deg);
                top:-1rem;
            }
        }
    }

    #wrapper .header{
        background-image:url('../images/header-bg.min@xs.jpg');
    }

    #wrapper .header.fase-2{
        background-image:url('../images/header-bg-completo.min@xs.jpg');
        padding-top:px-to-rem(40);
        padding-bottom:px-to-rem(360);
    }

    #wrapper .main{
        background:transparent;
    }

    #wrapper .resultado .text-1,
    #wrapper .resultado .text-2{
        font-size:px-to-rem(24);
    }

    #wrapper .resultado .img{
        margin-top:px-to-rem(-5);


        img{
            width:100%;
            max-width:100%;
        }
    }

    #wrapper .resultado .text-3{
        background-image:url('../images/title-border-2.min@xs.png');
        flex-direction: column;
        align-items:flex-end;
        padding:px-to-rem(40) px-to-rem(20);
    }

    #wrapper .resultado .text-3 .text-3-a{
        text-align:left;
        font-size:px-to-rem(24);
        padding-left:px-to-rem(40);
        padding-right:0;
    }

    #wrapper .resultado .text-3 .text-3-b{
        color:$color-pri-light;
        width:3.2rem;
        padding-right:px-to-rem(8);
        padding-top:px-to-rem(20);
    }

    #wrapper .resultado .text-3 .text-3-c{
        color:$color-pri-light;
        width:calc(100% - 4rem);
        margin-top:px-to-rem(-70);
    }

    #wrapper .resultado .text-3 .text-3-d{
        font-size:px-to-rem(24);
        padding-left:px-to-rem(40);
        padding-right:0;
    }

    #wrapper .main .products{
        position:relative;
        padding-top:px-to-rem(40);
    }

    #wrapper .main .products .title{
        max-width:80%;
        background-image:url('../images/title-border-2.min@xs.png');


        br{
            display:none;
        }
    }

    #wrapper .main .products .buy{
        order:2;
        margin:px-to-rem(20) auto 0;
        font-size:px-to-rem(30);
    }

    #wrapper .main .products .list{
        order:1;
        margin:0 auto px-to-rem(20);
    }

    #wrapper .main .products .list:before{
        z-index:3;
        left: 50%;
        transform: translateX(-50%);
        width:100%;
        height: 60%;
        bottom: 20%;
        top: auto;
        background-image:linear-gradient(to right, #091724 2%, rgba(9, 23, 36, 0.8) 10%, rgba(9, 23, 36, 0) 18%, rgba(9, 23, 36, 0) 82%, rgba(9, 23, 36, 0.66) 90%, #091724 98%)
    }

    #wrapper .main .products .list .product-name{
        top:102%;
        bottom:auto;
    }

    #wrapper .main .products .paragraph{
        order:3;
        margin-top:px-to-rem(50);
        line-height: 1.4;
        font-size: 2.4rem;
        color:$color-pri-light;
    }

    #wrapper .main .products .video{
        order:4;
        margin-bottom:0;
    }

    #wrapper .main .timer .text{
        background:url('../images/timer-bg.min.png');
        background-size:100% 100%;
        background-repeat:no-repeat;
        padding:50px;
    }

    #wrapper .header .title .title-responsive .logo{ 
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    #wrapper .main .timer .title{ 
        font-size: 2.8rem;
        padding-bottom: 1rem;
        padding-top: 5rem;
    }


    #wrapper .main .timer .text i{
        display:inline !important;
    }

    #wrapper .main .products .title{
        margin-top: 0;
        font-size: 2rem;
    }

    #wrapper .main .products .list{
        width: 120%!important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 17.2rem !important;
    }

    #wrapper .main .products .list .item{
        height: 19rem;
    }

    #wrapper .main .products .list .item[data-order=order_2], #wrapper .main .products .list .item[data-order=order_4]{
        transform: translateX(-50%) scale(.75);
    }

    #wrapper .main .products .list .item[data-order=order_1], #wrapper .main .products .list .item[data-order=order_5]{
        transform: translateX(-50%) scale(.6);
    }

    #wrapper .main .products .list .item[data-order=order_0], #wrapper .main .products .list .item[data-order=order_6]{
        transform: translateX(-50%) scale(.5);
    }

    #wrapper .main .products .list .nav{
        width:100vw;
        left: 50%;
        transform: translateX(-50%);
    }

    #wrapper .footer .brand .item{
        width:40%!important;


        img{
            width:100%;
        }
    }
}
@media all and (max-width:#{$grid-breakpoint-s-xs}){

    #wrapper .main .products .list{
        width: 130%!important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #wrapper .main .products .list .nav{
        width:100vw;
    }

    #wrapper .main .products .list:before{
        width: 100%;
    }

}


@media all and (max-width:#{$grid-breakpoint-xs}){

    html{
        font-size:9px;
    }

    #wrapper .main .products .list .nav{
        width:100vw;
    }

}

@media all and (max-width:#{$grid-breakpoint-xs-xxs}){
    #wrapper .main .products .list{
        width: 140%!important;
    }
}


//<container-ref>
@media all and (max-width:#{$grid-breakpoint-xs}){//285
}

@media all and (max-width:#{$grid-breakpoint-s-xs}){//540
}

@media all and (max-width:#{$grid-breakpoint-s}){//600

}

@media all and (max-width:#{$grid-breakpoint-m-s}){//640
}

@media all and (max-width:#{$grid-breakpoint-m}){//720

    $container-ref-m: 720;
    $header-title-ref-m: 700;
    $product-list-ref-w-m:700;
    $product-list-ref-h-m:300;


    #wrapper .institutional .photo{
        padding-bottom:0;
        width:100%;


        img{
            width:100%;
        }
    }

    #wrapper .header .title{
        width:px-to-pct($header-title-ref-m,$container-ref-m);
    }

    #wrapper .footer .brand .item{
        width:px-to-pct(175,$container-ref-m);
        

        &:first-of-type{
            width:px-to-pct(180,$container-ref-m);
        }
    }
    #wrapper .institutional .content .decor.decor-1{
        width:px-to-pct(160,$container-ref-m);
    }
    
    #wrapper .main .products .list .item[data-order=order_0]{
        left:-10%;
    }
    
    #wrapper .main .products .list .item[data-order=order_1]{
        left:8%;
    }
    
    #wrapper .main .products .list .item[data-order=order_2]{
        left:25%;
    }

    #wrapper .main .products .list .item[data-order=order_4]{
        left:75%;
    }
    
    #wrapper .main .products .list .item[data-order=order_5]{
        left:92%;
    }
    
    #wrapper .main .products .list .item[data-order=order_6]{
        left:110%;
    }
}

@media all and (max-width:#{$grid-breakpoint-l-m}){//768

    #wrapper .main .timer .text br{
        display:block;
    }
}

@media all and (max-width:#{$grid-breakpoint-l}){//880

    $container-ref-l: 880;
    $header-title-ref-l: 820;
    $product-list-ref-w-l:820;
    $product-list-ref-h-l:200;

    #wrapper .institutional .content .decor.decor-1{
        width:px-to-pct(160,$container-ref-l);
    }
    #wrapper .header .title{
        width:px-to-pct($header-title-ref-l,$container-ref-l);
    }

    #wrapper .main .products .list{
        width:px-to-pct($product-list-ref-w-l,$container-ref-l);
        height:px-to-rem($product-list-ref-h-l);
    }

    #wrapper .footer .brand .item{
        width:px-to-pct(170,$container-ref-l);
        

        &:first-of-type{
            width:px-to-pct(180,$container-ref-l);
        }
    }
}

@media all and (min-width:#{$grid-breakpoint-xl-min}){//945
    
    #wrapper .institutional{
        @include responsive-bg('institutional-bg','jpg', auto 100%, right center)
    }
    #wrapper .institutional .content {
        max-width:100%;
        width:px-to-pct(600, $container-ref);
    }

    #wrapper .institutional .content .decor{
        display:block;
    }

    #wrapper .institutional .photo{
        display:none;
    }
}

@media all and (min-width:#{$grid-breakpoint-s-min}){
    
    #wrapper .header .title .title-responsive{
        display:none;
    }

    #wrapper .header .title .title-1{
        display:block;
        margin-right:px-to-pct(40,$header-title-ref);
    }

    #wrapper .header .title .title-2{
        display:block;
    }
}
//</container-ref>